.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.validation{
  color: #D63301;
  background-color: #FFCCBA;
}

.info {
  color: #00529B;
  background-color: #BDE5F8;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
}

.MuiDataGrid-columnHeaders {
  color: #4F8A10;
  background-color: #DFF2BF;
}

/* .css-c5c7cs-MuiDataGrid-root .MuiDataGrid-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  break-inside: avoid;
  color: #9F6000;
  background-color: #FEEFB3;
} */

.MuiDataGrid-virtualScrollerRenderZone{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  break-inside: avoid;
  color: #9F6000;
  background-color: #FEEFB3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
